/*index, show*/
h2>a {
    float: right;
    margin-top: 5px;
}

/*Meer informatie -- home*/
td>a{
    color: black;
    text-decoration: none;
}
td>a:hover{
    text-decoration: underline;
    color: #549dac;
}


th>a{
    text-decoration: underline;
    color: white;
}
th>a:hover {
    text-decoration: underline;
    color: white;
    background-color: #549dac;
    border-radius: 5px;
}

.dropdown-item:hover{
    color: #549dac;
}


.Kleur1{
    text-decoration: none;

}

.Kleur1:hover{
    background-color: lightgray;
    text-decoration: none;
    color: white;
}




